In [3]:
import pandas

data = pandas.read_csv("simulation_results.csv")

data.head(5).append(data.tail(5))

C:\Users\pydlv\AppData\Local\Temp\ipykernel_28660\3012862440.py:5: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

      Unnamed: 0        Date  Value (USD)
0              0  2004-01-01    1000.0000
1              1  2004-01-02    1000.0000
2              2  2004-01-05    1000.0000
3              3  2004-01-06    1000.0000
4              4  2004-01-07    1000.0000
4718        4718  2022-02-01    3646.2288
4719        4719  2022-02-02    3661.0244
4720        4720  2022-02-03    3669.1723
4721        4721  2022-02-04    3712.4736
4722        4722  2022-02-07    3717.9179